@media only screen and (max-width: 690px) {
    .featured-area3 {
        margin-top: -170px;
    } 
}

@media only screen and (min-width: 700px) {
    .featured-area3 {
        margin-top: 0px;
    } 
}

.style-cost-item-front {

  margin: 0;
  color: #3dcfe4;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;

}
.style-cost-discount-item-front {
  color: #999;
  line-height: 1.4;
  font-size: 13px;
  font-weight: 700;

}

